.advantages {
  background: url(../../../img/base/bg.jpg) center / cover no-repeat;
  color: #fff;

  .container {
    max-width: 1260px;
  }

  &__header {
    display: grid;
    grid-gap: 20px;
    margin-bottom: 40px;

    @include media-up(lg) {
      grid-template-columns: auto 1fr;
      grid-gap: 70px;
      margin-bottom: 70px;
    }

    @include media-up(xl) {
      grid-gap: 110px;
    }

    h2 {
      color: #fff;

      span {
        color: $yellow;
      }
    }
  }
}

.advantages-grid {
  display: grid;
  grid-gap: 20px;
  counter-reset: item;

  @include media-up(md) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }

  @include media-up(lg) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
  }
}

.advantage {
  padding: 20px;
  border: 2px solid $yellow;
  counter-increment: item;

  &__icon {
    width: 100px;
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-bottom: 16px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 12px;
      display: block;
      width: 86px;
      height: 86px;
      background: #282828;
      border-radius: 50%;
    }

    img {
      position: relative;
      z-index: 1;
      max-width: 100%;
      max-height: 80px;
      object-fit: contain;
    }
  }

  &__title {
    position: relative;
    font-family: $bebas;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 8px;

    &:before {
      content: counter(item)'.';
      color: $yellow;
      margin-right: 10px;
    }

    @include media-up(lg) {
      font-size: 32px;
    }
  }

  &__text {
    @include media-up(lg) {
      font-size: 18px;
      line-height: 21px;
    }

    ul {
      list-style-type: disc;
      padding-left: 25px;
    }
  }
}
