.matrix .cropper-preview, .picture-preview {
    max-height: 100px;
    max-width: 100px;
}

.matrix .border-dashed span.float-start {
    display: none;
}

.matrix textarea.form-control, .matrix input.form-control{
    height: 200px !important;
}