// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,900');

@font-face {
  font-family: 'AA Bebas Neue';
  //src: url('AABebasNeue.eot');
  src: local('AA BebasNeue'),
      url('../../fonts/AABebasNeue.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/AABebasNeue.woff2') format('woff2'),
      url('../../fonts/AABebasNeue.woff') format('woff'),
      url('../../fonts/AABebasNeue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
